build-solution-x64
TeamInfo.team
LocalMatchResults/
jobfiles.txt
sortie.txt
MyBotLogic/wclog.txt
2017-12-02-19-55-15_RELEASE_TheCodingDead.job
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
